* {
  box-sizing: border-box;
}

html {
  background-color: aliceblue;
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
}

section {
  height: 80vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background-color: rgb(181, 208, 232);
  padding-inline: 20px;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-menu li {
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(178, 99, 44);
}

.big-banner {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 2fr 1fr 2fr;
  place-items: center;
}

.banner-img {
  grid-row: 1 / span 3;
  max-height: 100%;
}

.banner-text1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: monospace;

  padding-inline: 5%;

  text-align: justify;
  text-justify: inter-word;
}

.banner-text2 {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  padding-inline: 5%;
}

.banner-text3 {
  font-style: italic;
  font-family: monospace;
  font-size: 1.25rem;
  padding-inline: 5%;
}

.current-program {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding-inline: 5rem;
}

.next-program {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10rem;
  padding-inline: 5rem;
}

.program-img {
  max-width: 40vw;
  height: auto;
  max-height: 100%;
}

footer {
  text-align: center;
  font-weight: bold;
}
